@import "tailwindcss";

@theme {
  --color-primary: oklch(0.87 0.04 194.5);
  --color-secondary: oklch(0.53 0.16 192);
  --color-tertiary: oklch(0.53 0.16 192);

  --clip-path: polygon(100% 0, 100% 0, 100% 100%, 0% 100%);
}

* {
  box-sizing: border-box;
}
